<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <header>
        <nav>
            <a href="/categories">Quản lý category</a><br />
            <a href="/products">Quản lý product</a><br />
            <a href="/login">Đăng nhập</a>
            <a href="/register">Đăng kí</a>
        </nav>
    </header>
    <footer>
        <p>© 2024 Admin Panel</p>
    </footer>
</body>

</html>